[submodule "redis"]
	path = redis
	url = https://github.com/st-a-novoseltcev/redis-deploy-server
[submodule "postgresSQL"]
	path = postgreSQL
	url = https://github.com/st-a-novoseltcev/postgreSQL-deploy-server
